@import '../../constants.scss';

.element {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  cursor: grab;

  &.-dragging {
    cursor: grabbing;
  }

  &.-board {
    width: $board-width;
    height: $board-height;
    box-shadow: none;
  }

  &.-building {
    width: $card-width;
    height: $card-height;
  }

  &.-wonder {
    width: $wonder-width;
    height: $wonder-height;
  }

  &.-military_token {
    &.-small {
      
    }
  }

  &.-progress_token {
    width: $card-height / 2;
    height: $card-height / 2;
    border-radius: 50%;
  }

  &.-conflict_pawn {

  }

  &[class*="-coin_"] {
    border-radius: 50%;
  }

  &.-coin_6 {
    width: $coin-width-6;
    height: $coin-width-6;
  }

  &.-coin_3 {
    width: $coin-width-3;
    height: $coin-width-3;
  }

  &.-coin_1 {
    width: $coin-width-1;
    height: $coin-width-1;
  }

  &-container {
    position: absolute;
  }
}
