@import '../../constants.scss';

.buildingcard {
  width: $card-width;
  height: $card-height;
  padding: 10px;
  background-color: green;

  &.-facedown {
    background-color: salmon;
    
    span {
      display: none;
    }
  }
}