@import '../../constants.scss';

.wondercard {
  width: $wonder-width;
  height: $wonder-height;
  padding: 10px;
  background-color: burlywood;

  &.-facedown {
    background-color: cornflowerblue;
  }
}