@import '../../constants.scss';

.wondercard {
  width: $wonder-width;
  height: $wonder-height;
  padding: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  &.-facedown {
    background-image: url('../../data/images/wonder-back.jpg');
  }
}