@import '../../constants.scss';

.wondercard {
  width: $wonder-width;
  height: $wonder-height;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  background-color: burlywood;
}