$card-width: 125px;
$card-height: $card-width * 1.5;

$wonder-height: $card-height;
$wonder-width: $wonder-height * 1.525; 

$board-width: 200px;
$board-height: $board-width * 3.525;

$coin-width-6: 100px;
$coin-width-3: 75px;
$coin-width-1: 60px;
